<header>Static Header Section</header>
<h3>{{title}}</h3>
{{!-- allows you to define a title in route.js and have it print on screen --}}

<div>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>