

{{!-- allows you to define a title in route.js and have it print on screen --}}

<div class="header-links">
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>

<h3>{{title}}</h3>
